[submodule "Externals/Qt"]
	path = Externals/Qt
	url = https://github.com/dolphin-emu/ext-win-qt.git
	branch = master
	shallow = true
[submodule "Externals/mGBA/mgba"]
	path = Externals/mGBA/mgba
	url = https://github.com/mgba-emu/mgba.git
	branch = master
	shallow = true
[submodule "Source/Core/Core/Brawlback/include/brawlback-exi-structures"]
	path = Source/Core/Core/Brawlback/include/brawlback-exi-structures
	url = https://github.com/Brawlback-Team/brawlback-exi-structures.git
